header{
    background-color: var(--color-header);
}

header a{
    color: var(--color-nav-text);
    text-decoration: none;
}

header li:hover{
    background-color: var(--color-a-hover);
}

nav{
    display: flex;
    align-items: center;
}

ul{
    display: flex;
}

ul li{
    padding: 10px;
    margin-left: 20px;
    list-style-type: none;
}

nav a{
    justify-content: space-between;
}

.nav_left{
    margin-right: auto;
    padding-left: 30px;
}

.nav_right{
    margin-left: auto;
    padding-right: 30px;
}

img{
    max-width: 100vw;
}